@page
@model ServiceHost.Areas.Panel.Pages.LoginModel
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

  <title>ورود</title>
</head>

<body class="flex items-center justify-center min-h-screen bg-gray-50" style="background-image: url('@Url.Content("~/images/LoginBackground.jpg")');">
  <div class="w-full max-w-sm p-6 m-auto mx-auto bg-white rounded-lg shadow shadow-gray-400">
    <div class="flex justify-center mx-auto">
      <img class="w-auto h-12 sm:h-14" src="~/images/Logo.svg" alt="" draggable="false">
    </div>

    <form asp-page-handler="LoginUser" method="post" class="mt-6">
      <div>
        <label asp-for="LoginDTO.UserNameOrEmail" class="block text-sm text-gray-800">نام کاربری یا ایمیل</label>
        <input asp-for="LoginDTO.UserNameOrEmail" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" />
        <span asp-validation-for="LoginDTO.UserNameOrEmail" class="text-sm font-semibold text-red-500"></span>
      </div>

      <div class="mt-4">
        <div class="flex items-center justify-between">
          <label asp-for="LoginDTO.Password" class="block text-sm text-gray-800">کلمه ی عبور</label>
          <a href="#" class="text-xs text-gray-600 hover:underline">فراموشی کلمه ی عبور</a>
        </div>

        <input asp-for="LoginDTO.Password" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" />
        <span asp-validation-for="LoginDTO.Password" class="text-sm font-semibold text-red-500"></span>
      </div>

      <div class="flex items-center mt-4">
        <input asp-for="LoginDTO.IsPersistent" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
        <label asp-for="LoginDTO.IsPersistent" class="ms-2 text-sm font-medium text-gray-900">مرا به خاطر بسپار</label>
      </div>

      <google-recaptcha class="mt-4 mx-auto w-fit h-fit"></google-recaptcha>

      <div class="mt-6">
        <button type="submit" class="w-full px-6 py-2.5 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-800 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
          ورود
        </button>
      </div>
    </form>

    <div class="flex items-center justify-between mt-4">
      <span class="w-full border-b"></span>
    </div>

    <p class="mt-8 text-xs font-light text-center text-gray-400"> حساب کاربری ندارید؟ <a href="#" class="font-medium text-gray-700 hover:underline">ثبت نام</a></p>
  </div>

  @if (ViewData["SuccessNotif"] != null)
  {
    <div id="successNotification" class="fixed bottom-4 right-4 flex w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-md opacity-100 transition-opacity duration-500 z-[80] border border-emerald-500">
      <div class="flex items-center justify-center w-12 bg-emerald-500">
        <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z" />
        </svg>
      </div>

      <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
          <span class="font-semibold text-emerald-500">موفقیت آمیز</span>
          <p class="text-sm text-gray-600">@ViewData["SuccessNotif"]</p>
        </div>
      </div>
    </div>
  }

  @if (ViewData["FailureNotif"] != null)
  {
    <div id="failureNotification" class="fixed bottom-4 right-4 flex w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-md z-[80] border border-red-500">
      <div class="flex items-center justify-center w-12 bg-red-500">
        <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z" />
        </svg>
      </div>

      <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
          <span class="font-semibold text-red-500">خطا</span>
          <p class="text-sm text-gray-600">
            @ViewData["FailureNotif"]
          </p>
        </div>
      </div>
    </div>
  }

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <partial name="_ValidationScriptsPartial" />
  <script src="~/js/site.js"></script>
  <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl=fa"></script>
</body>
</html>